<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  </head>
  <body>
    <form action="{% url 'report.views.create_report' %}" method="post">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-heading">Report name: <input type="text" name="report_name"></div>

        <!-- Default panel contents 1-->
        <div class="panel-heading">Stage 1</div>
            <div id="stage_1_original">
              Item: <input type="text" id ="stage_1" name="stage1">
            </div>
            <button type="button" id="add_stage_1" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
        <!-- Default panel content 2-->
        <div class="panel-heading">Stage 2</div>
            <div id="stage_2_original">
              Item: <input type="text" id="stage_2" name="stage2">
            </div>
            <button type="button" id="add_stage_2" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
        <!-- Default panel content 3-->
        <div class="panel-heading">Stage 3</div>
            <div id="stage_3_original">
              Item: <input type="text" id="stage_3" name="stage3">
            </div>
            <button type="button" id="add_stage_3" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>

      </div>
      <button type="submit" value="Submit" class="btn btn-info">Submit</button>
      <a href="{% url 'report.views.report_list' %}"><button type="button" class="btn btn-info">Back</button></a>
    </form>

    <script>
    $(document).ready(function(){
        $('#add_stage_1').click( function(){
          $("#stage_1_original").clone().insertBefore("#add_stage_1");
          $("input#stage_1").last().val('');
        });
        $('#add_stage_2').click( function(){
          $("#stage_2_original").clone().insertBefore("#add_stage_2");
          $("input#stage_2").last().val('');
        });
        $('#add_stage_3').click( function(){
          $("#stage_3_original").clone().insertBefore("#add_stage_3");
          $("input#stage_3").last().val('');
        });

    });

    </script>
  </body>
</html>
