<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <form method="post" action ="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <p>LOGIN</p>
    <table>
      <tr>
        <td><label for="id_username">Username:</label></td>
        <td><input id="id_username" maxlength="254" name="username" type="text"></td>
      </tr>
      <tr>
        <td><label for="id_password">Password:</label></td>
        <td><input id="id_password" name="password" type="password"></td>
      </tr>
    </table>
    <input type="hidden" name="next" value="{% url 'report.views.report_list' %}" />
    <input type="submit" value="login">
    <a href="{% url 'report.views.register' %}"><input type="button" name="next" value="Register"></a>

    {% if form.errors %}
    <p>! Sorry your username and password didn't match. Please try again.</p>
    {% endif %}

    </form>
  </body>

</div>
</html>
