<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><b>Report List</b></div>
      <div class="panel-body">
        <p>Create Report..
          <a href="{% url 'report.views.create_report' %}">
            <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
          </a>
        </p>
      </div>

      <!-- Table -->
      <table class="table">
        <tr>
            <td><b> # </b></td>
            <td><b> Name </b></td>
            <td><b> Date </b></td>
            <td></td>
        </tr>
        {% for report in reports %}
          <tr>
              <td><a href="{% url 'report.views.detail_report' pk=report.pk %}">  {{ report.id }} </a></td>
              <td><a href="{% url 'report.views.detail_report' pk=report.pk %}">  {{ report.name }} </a></td>
              <td> {{ report.updated_date }} </td>
              <td><a href="{% url 'report.views.edit_report' pk=report.pk %}"><button type="button" class="btn btn-default navbar-btn">Edit</button></a></td>
          </tr>
        {% endfor %}

      </table>
    </div>
  </body>
</html>
