{% extends "base_authen.html" %}
    {% block title %}{% endblock %}
    {% block content %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Report: {{ report_obj.name }}</b>
      </div>
      <h2> Stage 3 : Publish </h2>
      <br>

        <form action="{% url 'report.views.page_stage3' pk=report_obj.pk %}" method="post">
          {% csrf_token %}

          {% for check in stage3 %}
            <h4><input type="checkbox" name="check" value="{{ check.pk }}"
            {%if check.status = True %}
            checked
            {% endif %}>
              {{ check.name }}<br></h4>
          {% endfor %}
          <br>
          <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% endblock %}
