<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Report: {{ report_obj.name }}</b>
        <a href="{% url 'report.views.report_list' %}">
          <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          </button>
        </a>
      </div>
      <h2> Stage 3 : Publish </h2>
      <br>

        <form action="{% url 'report.views.page_stage3' pk=report_obj.pk %}" method="post">
          {% csrf_token %}

          {% for check in stage3 %}
            <h4><input type="checkbox" name="check" value="{{ check.pk }}"
            {%if check.status = True %}
            checked
            {% endif %}>
              {{ check.name }}<br></h4>
          {% endfor %}
          <br>
          <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  </body>
</html>
